@model ArtistsWiki.Models.Models.Group

@{
    ViewData["Title"] = "Adicionar Novo Grupo";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddNewGroup" method="post">
    <div class="form-group">
        <label asp-for="GroupName"></label>
        <input asp-for="GroupName" class="form-control" />
        <span asp-validation-for="GroupName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GroupDebutDate"></label>
        <input asp-for="GroupDebutDate" class="form-control" />
        <span asp-validation-for="GroupDebutDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GroupMusicGenre"></label>
        <input asp-for="GroupMusicGenre" class="form-control" />
        <span asp-validation-for="GroupMusicGenre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GroupPhoto"></label>
        <input asp-for="GroupPhoto" class="form-control" />
        <span asp-validation-for="GroupPhoto" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar Grupo</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
