@model ArtistsWiki.Models.Models.Solist

@{
    ViewData["Title"] = "Adicionar Novo Solista";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddNewSolist" method="post">
    <div class="form-group">
        <label for="SolistName">Nome do Solista</label>
        <input asp-for="SolistName" class="form-control" />
        <span asp-validation-for="SolistName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="SolistDebutDate">Data de Estreia</label>
        <input asp-for="SolistDebutDate" class="form-control" />
        <span asp-validation-for="SolistDebutDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="SolistMusicGenre">Gênero Musical</label>
        <input asp-for="SolistMusicGenre" class="form-control" />
        <span asp-validation-for="SolistMusicGenre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="SolistPhoto">URL da Foto</label>
        <input asp-for="SolistPhoto" class="form-control" />
        <span asp-validation-for="SolistPhoto" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
